* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #9bc79f, #29323c);
}

.nav-item-position {
    margin: 0px 14px;
}

.nav-item-position:hover {
    font-weight: 700;
}

h3 {
    color: black;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
}

.container {
    padding: 2%;
    width: 70%;
    margin: auto;
    margin-top: 3%;
    background-color: beige;
}

.nav-link {
    font-size: 17px;
}